@import url("https://fonts.googleapis.com/css2?family=Playpen+Sans:wght@100..800&display=swap");
@import "tailwindcss";
@layer base {
    body {
        background: url(/img/background.svg) !important;
    }
}

@theme {
    --font-sans: "Playpen Sans", cursive;
    --animate-hover: hover 7s ease-in-out infinite;
    @keyframes hover {
        0%,
        100% {
            translate: 0 0;
        }
        50% {
            translate: 0 3pt;
        }
    }
}

.cool-shadow {
    @apply border-b-[3.5pt];
}
